@keyframes rotating {
        from{
            -webkit-transform: rotate(180deg);
            opacity: 0;
        }
        to{
            -webkit-transform: rotate(720deg);
            opacity: 1;
        }
    }
    
    #flow {
        animation: rotating 2s linear 0.5s;
        transform: scale(0.3);
        transition: 0.5s;
    }